# These files are text eol=lf and should be normalized (convert crlf =&gt; lf)
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
# Images should be treated as binary
# (binary is a macro for -text eol=lf -diff)
*.png     binary
*.jepg    binary
*.sdf     binary
